/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: rgba(18, 18, 18, 1);
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif!important;
}

h5 {
  font-size: 16px !important;
  color: #919191;
}